nodejs/brukerschema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="Bruker">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="brukerID" type="xs:integer"/>
      <xs:element name="passordhash" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 
